
/*
  navbar
*/
.navbar.navbar-rl {
  background-color: #E3E3E3;
  border-radius: 0;
  border: 0px transparent solid;
  margin-bottom: 70px;
}

.navbar.navbar-rl .navbar-brand img {
  width: 100px;
}

/*
  content
*/
.content {
  min-height: 81vh;
}

/*
  footer
*/
.navbar.footer-rl {
  border-radius: 0;
  border: 0px transparent solid;
  margin-bottom: 0;
}

.navbar.footer-rl .navbar-text {
  float: none;
}
